{% extends "base.html" %} {% block styles %}
<link href="/xuanke_list.css" rel="stylesheet" />
{% endblock %} {% block page_content %}
<div class="paper">
    <form class="xuanke-form" action="/action/xuanke/add" method="post">
        <label>学生：</label>
        <select name="stu_sn">
            <option value="">--选择--</option>
            {% for stu in students %}
            <option value="{{stu.stu_sn}}">
                {{stu.stu_name}}({{stu.stu_sn}})
            </option>
            {% endfor %}
        </select>
        <label>学期:</label>
        <select name="plan_xueqi">
            <option value="">--选择--</option>

            <option value="大一上">
                大一上
            </option>
            <option value="大一下">
                大一下
            </option>
            <option value="大二上">
                大二上
            </option>
            <option value="大二下">
                大二下
            </option>
            <option value="大三上">
                大三上
            </option>
            <option value="大三下">
                大三下
            </option>
            <option value="大四上">
                大四上
            </option>
            <option value="大四下">
                大四下
            </option>
        </select>

        <label>课程：</label>
        <select name="plan_sn">
            <option value="">--选择--</option>
            {% for item in plans %}
            <option value="{{item.plan_sn}}">
                {{item.cuo_name}}({{item.plan_name}}{{item.plan_time}}{{item.plan_jieci}}{{item.plan_didian}})
            </option>
            {% endfor %}
        </select>

        <input type="submit" value="确定" />
    </form>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>课程</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.stu_name }}</td>
                <td>{{ item.plan_name}}</td>

                <td>
                    <div class="ctrlbar">
                        <div class="btn">
                            <a href="/xuanke/delete/{{item.xstu_sn}}/{{item.plan_sn}}">
                                退课
                            </a>
                        </div>

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}