{% extends "base.html" %}

<!--  -->
{% block styles %}
<link href="/dialog_error.css" rel="stylesheet" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="panel">

<div class="dialog">
    <div class="content">
        <span
            >需要退的课程：{{records.cuo_name}}课程序号：{{record.plan_sn}}</span
        >
    </div>
    <div class="footer">
        <div class="btn">
            <form
                action="/action/xuanke/delete/{{record.xstu_sn}}/{{record.plan_sn}}"
                method="post"
            >
            
                <input type="submit" value="确定退课" />
            </form>
        </div>
        <div class="btn">
            <a href="/xuanke">返回</a>
        </div>
    </div>
</div>
</div>
{% endblock %}